// portfolio item
.body-portfolio-item {
	.header {
		background-color: #F8C14B;
		border-color: #F8C14B;
	}

	.header__decor-icon {
		fill: #ffffff;
	}

	.header__menu-main {
		display: none;
	}

	.logo__img {
		color: #ffffff;
	}

	.middle {
		padding-top: 0;
	}
}
