.loading {
	min-height: 100px;
	background-image: url(../img/loader.svg) !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: auto !important;
}
