// default
::-webkit-input-placeholder {
	opacity: 1;
	color: #969696;
}

::-moz-placeholder {
	opacity: 1;
	color: #969696;
}

:-moz-placeholder {
	opacity: 1;
	color: #969696;
}

:-ms-input-placeholder {
	opacity: 1;
	color: #969696;
}

// focus
:focus::-webkit-input-placeholder {
	opacity: 0;
}

:focus::-moz-placeholder {
	opacity: 0;
}

:focus:-moz-placeholder {
	opacity: 0;
}

:focus:-ms-input-placeholder {
	opacity: 0;
}

// disabled
[disabled="disabled"]::-webkit-input-placeholder {
	color: rgba(150,150,150,.7);
}

[disabled="disabled"]::-moz-placeholder {
	color: rgba(150,150,150,.7);
}

[disabled="disabled"]:-moz-placeholder {
	color: rgba(150,150,150,.7);
}

[disabled="disabled"]:-ms-input-placeholder {
	color: rgba(150,150,150,.7);
}
