.heading {
  font-size: 36px;
  font-weight: 900;
  line-height: 1.4;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1.29px;
  margin: 0 0 50px 0;
}

.title-default {
  margin-bottom: 80px;
}
