// footer 
footer.footer
  div.footer__main
    div.footer__center.center
      div.footer__main-container
        div.footer__btn-map
          a.btn.btn-info(href="#") Карта сайта
        div.footer__main-wrap
          div.footer__main-left
            nav.menu-lang
              ul.menu-lang__list
                li.menu-lang__item
                  a.menu-lang__link.active(href="#") Ru
                li.menu-lang__item
                  a.menu-lang__link(href="#") Ua
                li.menu-lang__item
                  a.menu-lang__link(href="#") En
          div.footer__main-right
            div.footer__main-list
              div.footer__main-item
                div.footer__phone
                  a.footer__phone-link(href="tel:+380506041054") +38 050 604 10 54
                div.footer__messenger
                  a.footer__messenger-link(href="viber://chat?number=+380506041054") Viber
                  |, 
                  a.footer__messenger-link(href="tg://resolve?domain=+380506041054") Telegram
                  |, 
                  a.footer__messenger-link(href="https://wa.me/380506041054") WhatsApp
              div.footer__main-item
                div.footer__email
                  a.footer__email-link(href="mailto:ls@sunbee.studio") ls@sunbee.studio
                div.footer__social
                  a.footer__social-link(href="#")
                    svg.footer__social-icon.icon-facebook: use(xlink:href="img/sprite.svg#facebook")
                  a.footer__social-link(href="#")
                    svg.footer__social-icon.icon-linkedin: use(xlink:href="img/sprite.svg#linkedin")
              div.footer__main-item
                div.footer__presentation
                  a.footer__presentation-link(href="#").
                    Презентация<br> Sunbee
              div.footer__main-item
                div.footer__order
                  div.footer__order-row
                    a.btn.btn-general(href="#") Запросить просчет
                  div.footer__order-row
                    a.footer__order-link(href="#") Бриф на разработку
  div.footer__info
    div.footer__center.center
      div.footer__info-wrap
        div.footer__info-left
          div.footer__copyright.
            &copy; 2019. Солнечная пчелка<br>
            Все права защищены.
        div.footer__info-center
          div.footer__welcome Будем рады знакомству!
        div.footer__info-right
          div.footer__logo
            svg.footer__logo-img: use(xlink:href="img/sprite.svg#logo")
            div.footer__logo-caption made in 2019
            
// /.footer 
