// build:js 
script(src="js/axios.js")
script(src="js/vue.js")
script(src="js/app.js")
script(src="js/jquery.js")
script(src="js/bowser.js")
script(src="js/jquery.resizeend.js")
script(src="js/jquery.lazySize.js")
script(src="js/TweenMax.js")
script(src="js/scrollMagic.js")
script(src="js/animation.gsap.js")
script(src="js/debug.addIndicators.js")
script(src="js/typed.js")
script(src="js/jquery.maskedinput.js")
script(src="js/jquery.waypoints.js")
//- script(src="js/snap.svg.js")
//- script(src="js/animation.svg.js")
script(src="js/common.js")
script(src="js/main.js")
// endbuild 
