// Futura PT
@font-face {
  font-family: 'Futura PT Demi';
  src: url('../font/futura-pt/FuturaPT-Demi.eot');
  src: url('../font/futura-pt/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
       url('../font/futura-pt/FuturaPT-Demi.woff2') format('woff2'),
       url('../font/futura-pt/FuturaPT-Demi.woff') format('woff'),
       url('../font/futura-pt/FuturaPT-Demi.ttf') format('truetype'),
       url('../font/futura-pt/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Extra';
  src: url('../font/futura-pt/FuturaPT-ExtraBold.eot');
  src: url('../font/futura-pt/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../font/futura-pt/FuturaPT-ExtraBold.woff2') format('woff2'),
       url('../font/futura-pt/FuturaPT-ExtraBold.woff') format('woff'),
       url('../font/futura-pt/FuturaPT-ExtraBold.ttf') format('truetype'),
       url('../font/futura-pt/FuturaPT-ExtraBold.svg#FuturaPT-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../font/futura-pt/FuturaPT-Heavy.eot');
  src: url('../font/futura-pt/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
       url('../font/futura-pt/FuturaPT-Heavy.woff2') format('woff2'),
       url('../font/futura-pt/FuturaPT-Heavy.woff') format('woff'),
       url('../font/futura-pt/FuturaPT-Heavy.ttf') format('truetype'),
       url('../font/futura-pt/FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../font/futura-pt/FuturaPT-Light.eot');
  src: url('../font/futura-pt/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
       url('../font/futura-pt/FuturaPT-Light.woff2') format('woff2'),
       url('../font/futura-pt/FuturaPT-Light.woff') format('woff'),
       url('../font/futura-pt/FuturaPT-Light.ttf') format('truetype'),
       url('../font/futura-pt/FuturaPT-Light.svg#FuturaPT-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../font/futura-pt/FuturaPT-Bold.eot');
  src: url('../font/futura-pt/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/futura-pt/FuturaPT-Bold.woff2') format('woff2'),
       url('../font/futura-pt/FuturaPT-Bold.woff') format('woff'),
       url('../font/futura-pt/FuturaPT-Bold.ttf') format('truetype'),
       url('../font/futura-pt/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('../font/futura-pt/FuturaPT-Book.eot');
  src: url('../font/futura-pt/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
       url('../font/futura-pt/FuturaPT-Book.woff2') format('woff2'),
       url('../font/futura-pt/FuturaPT-Book.woff') format('woff'),
       url('../font/futura-pt/FuturaPT-Book.ttf') format('truetype'),
       url('../font/futura-pt/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../font/futura-pt/FuturaPT-Medium.eot');
  src: url('../font/futura-pt/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
       url('../font/futura-pt/FuturaPT-Medium.woff2') format('woff2'),
       url('../font/futura-pt/FuturaPT-Medium.woff') format('woff'),
       url('../font/futura-pt/FuturaPT-Medium.ttf') format('truetype'),
       url('../font/futura-pt/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

// Muller
@font-face {
  font-family: 'Muller Hairline';
  src: url('../font/muller/MullerHairline.eot');
  src: url('../font/muller/MullerHairline.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/MullerHairline.woff2') format('woff2'),
       url('../font/muller/MullerHairline.woff') format('woff'),
       url('../font/muller/MullerHairline.ttf') format('truetype'),
       url('../font/muller/MullerHairline.svg#MullerHairline') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../font/muller/MullerThin.eot');
  src: url('../font/muller/MullerThin.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/MullerThin.woff2') format('woff2'),
       url('../font/muller/MullerThin.woff') format('woff'),
       url('../font/muller/MullerThin.ttf') format('truetype'),
       url('../font/muller/MullerThin.svg#MullerThin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../font/muller/MullerBlackItalic.eot');
  src: url('../font/muller/MullerBlackItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/MullerBlackItalic.woff2') format('woff2'),
       url('../font/muller/MullerBlackItalic.woff') format('woff'),
       url('../font/muller/MullerBlackItalic.ttf') format('truetype'),
       url('../font/muller/MullerBlackItalic.svg#MullerBlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../font/muller/Muller-ExtraBold.eot');
  src: url('../font/muller/Muller-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/Muller-ExtraBold.woff2') format('woff2'),
       url('../font/muller/Muller-ExtraBold.woff') format('woff'),
       url('../font/muller/Muller-ExtraBold.ttf') format('truetype'),
       url('../font/muller/Muller-ExtraBold.svg#Muller-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../font/muller/MullerBoldItalic.eot');
  src: url('../font/muller/MullerBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/MullerBoldItalic.woff2') format('woff2'),
       url('../font/muller/MullerBoldItalic.woff') format('woff'),
       url('../font/muller/MullerBoldItalic.ttf') format('truetype'),
       url('../font/muller/MullerBoldItalic.svg#MullerBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../font/muller/Muller-Medium.eot');
  src: url('../font/muller/Muller-Medium.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/Muller-Medium.woff2') format('woff2'),
       url('../font/muller/Muller-Medium.woff') format('woff'),
       url('../font/muller/Muller-Medium.ttf') format('truetype'),
       url('../font/muller/Muller-Medium.svg#Muller-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../font/muller/Muller-MediumItalic.eot');
  src: url('../font/muller/Muller-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/Muller-MediumItalic.woff2') format('woff2'),
       url('../font/muller/Muller-MediumItalic.woff') format('woff'),
       url('../font/muller/Muller-MediumItalic.ttf') format('truetype'),
       url('../font/muller/Muller-MediumItalic.svg#Muller-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../font/muller/MullerUltraLightItalic.eot');
  src: url('../font/muller/MullerUltraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/MullerUltraLightItalic.woff2') format('woff2'),
       url('../font/muller/MullerUltraLightItalic.woff') format('woff'),
       url('../font/muller/MullerUltraLightItalic.ttf') format('truetype'),
       url('../font/muller/MullerUltraLightItalic.svg#MullerUltraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../font/muller/MullerThinItalic.eot');
  src: url('../font/muller/MullerThinItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/MullerThinItalic.woff2') format('woff2'),
       url('../font/muller/MullerThinItalic.woff') format('woff'),
       url('../font/muller/MullerThinItalic.ttf') format('truetype'),
       url('../font/muller/MullerThinItalic.svg#MullerThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../font/muller/MullerLight.eot');
  src: url('../font/muller/MullerLight.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/MullerLight.woff2') format('woff2'),
       url('../font/muller/MullerLight.woff') format('woff'),
       url('../font/muller/MullerLight.ttf') format('truetype'),
       url('../font/muller/MullerLight.svg#MullerLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../font/muller/MullerUltraLight.eot');
  src: url('../font/muller/MullerUltraLight.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/MullerUltraLight.woff2') format('woff2'),
       url('../font/muller/MullerUltraLight.woff') format('woff'),
       url('../font/muller/MullerUltraLight.ttf') format('truetype'),
       url('../font/muller/MullerUltraLight.svg#MullerUltraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../font/muller/MullerLightItalic.eot');
  src: url('../font/muller/MullerLightItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/MullerLightItalic.woff2') format('woff2'),
       url('../font/muller/MullerLightItalic.woff') format('woff'),
       url('../font/muller/MullerLightItalic.ttf') format('truetype'),
       url('../font/muller/MullerLightItalic.svg#MullerLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Muller Regular';
  src: url('../font/muller/MullerRegularItalic.eot');
  src: url('../font/muller/MullerRegularItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/MullerRegularItalic.woff2') format('woff2'),
       url('../font/muller/MullerRegularItalic.woff') format('woff'),
       url('../font/muller/MullerRegularItalic.ttf') format('truetype'),
       url('../font/muller/MullerRegularItalic.svg#MullerRegularItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../font/muller/MullerHeavyItalic.eot');
  src: url('../font/muller/MullerHeavyItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/MullerHeavyItalic.woff2') format('woff2'),
       url('../font/muller/MullerHeavyItalic.woff') format('woff'),
       url('../font/muller/MullerHeavyItalic.ttf') format('truetype'),
       url('../font/muller/MullerHeavyItalic.svg#MullerHeavyItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../font/muller/MullerBlack.eot');
  src: url('../font/muller/MullerBlack.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/MullerBlack.woff2') format('woff2'),
       url('../font/muller/MullerBlack.woff') format('woff'),
       url('../font/muller/MullerBlack.ttf') format('truetype'),
       url('../font/muller/MullerBlack.svg#MullerBlack') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Hairline';
  src: url('../font/muller/MullerHairlineItalic.eot');
  src: url('../font/muller/MullerHairlineItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/MullerHairlineItalic.woff2') format('woff2'),
       url('../font/muller/MullerHairlineItalic.woff') format('woff'),
       url('../font/muller/MullerHairlineItalic.ttf') format('truetype'),
       url('../font/muller/MullerHairlineItalic.svg#MullerHairlineItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../font/muller/MullerRegular.eot');
  src: url('../font/muller/MullerRegular.eot?#iefix') format('embedded-opentype'),
       url('../font/muller/MullerRegular.woff2') format('woff2'),
       url('../font/muller/MullerRegular.woff') format('woff'),
       url('../font/muller/MullerRegular.ttf') format('truetype'),
       url('../font/muller/MullerRegular.svg#MullerRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
