div.in-work
  div.in-work__center.center
    div.in-work__wrap
      div.in-work__icon
      div.in-work__main
        h4.in-work__heading Проекты в работе
        div.in-work__list
          div.in-work__item
            div.in-work__inner
              div.in-work__logo
                img.in-work__logo-img(src="img/in-work/cottongin.svg", alt="")
              div.in-work__info
                div.in-work__title Интернет-магазин
                div.in-work__caption Продажа кастомных товаров по всему миру
          div.in-work__item
            div.in-work__inner
              div.in-work__logo
                img.in-work__logo-img(src="img/in-work/flora.svg", alt="")
              div.in-work__info
                div.in-work__title Редизайн интернет-магазина
                div.in-work__caption Продажа кастомных товаров по всему миру
