div.our-work
  div.our-work__center.center
    h4.our-work__heading Наш опыт это 763 сделанных проекта
    div.our-work__list
      div.our-work__item
        a.our-work__link(href="#") Flora
      div.our-work__item
        a.our-work__link(href="#") Toyota
      div.our-work__item
        a.our-work__link(href="#") Volkswagen
      div.our-work__item
        a.our-work__link(href="#") Delicia
      div.our-work__item
        a.our-work__link(href="#") Escapehour Canada
      div.our-work__item
        a.our-work__link(href="#") МТС
      div.our-work__item
        a.our-work__link(href="#") Tempur
      div.our-work__item
        a.our-work__link(href="#") ... и другие
