div.portfolio__list
  div.portfolio__col-left
    //- item
    div.portfolio__item
      a.portfolio__main(href="#")
        div.portfolio__media
          picture.portfolio__media-img
            source(srcset="img/portfolio/01.webp", type="image/webp")
            img(src="img/portfolio/01.jpg" alt="")
        div.portfolio__content
          div.portfolio__title Flora
          div.portfolio__caption
            svg.portfolio__icon: use(xlink:href="img/sprite.svg#honeycomb")
            div.portfolio__info разработка интернет-магазина
            div.portfolio__info 1024 часа
            div.portfolio__info 8 специалистов
    //- item
    div.portfolio__item
      a.portfolio__main(href="#")
        div.portfolio__media
          picture.portfolio__media-img
            source(srcset="img/portfolio/03.webp", type="image/webp")
            img(src="img/portfolio/03.jpg" alt="")
        div.portfolio__content
          div.portfolio__title Delicia
          div.portfolio__caption
            svg.portfolio__icon: use(xlink:href="img/sprite.svg#honeycomb")
            div.portfolio__info разработка интернет-магазина
            div.portfolio__info 1024 часа
            div.portfolio__info 8 специалистов
  div.portfolio__col-right
    //- item
    div.portfolio__item
      a.portfolio__main(href="#")
        div.portfolio__media
          picture.portfolio__media-img
            source(srcset="img/portfolio/02.webp", type="image/webp")
            img(src="img/portfolio/02.jpg" alt="")
        div.portfolio__content
          div.portfolio__title Escapehour
          div.portfolio__caption
            svg.portfolio__icon: use(xlink:href="img/sprite.svg#honeycomb")
            div.portfolio__info разработка интернет-магазина
            div.portfolio__info 1024 часа
            div.portfolio__info 8 специалистов

    //- item
    div.portfolio__item
      a.portfolio__main(href="#")
        div.portfolio__media
          picture.portfolio__media-img
            source(srcset="img/portfolio/04.webp", type="image/webp")
            img(src="img/portfolio/04.jpg" alt="")
        div.portfolio__content
          div.portfolio__title Двухстрочное название
          div.portfolio__caption
            svg.portfolio__icon: use(xlink:href="img/sprite.svg#honeycomb")
            div.portfolio__info разработка интернет-магазина
            div.portfolio__info 1024 часа
            div.portfolio__info 8 специалистов
