doctype html
// Language сodes http://www.w3schools.com/tags/ref_language_codes.asp 
html(lang="en")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    
  title Index

  link(href="css/main.css", rel="stylesheet")

  style.
    a {color: black;}
    a:focus {color: red;}
    ul {padding: 50px; margin: 0;}
    ul li {margin: 0; padding: 0;}

body
  ul
    li: a(href="home.html" target="_blank") home.html
    li: a(href="portfolio.html" target="_blank") portfolio.html
    li: a(href="portfolio-v2.html" target="_blank") portfolio-v2.html
    li: a(href="portfolio-item.html" target="_blank") portfolio-item.html
    li: a(href="services.html" target="_blank") services.html
    li: a(href="item-service-promo.html" target="_blank") item-service-promo.html
    li: a(href="item-service-design.html" target="_blank") item-service-design.html
    li: a(href="start.html" target="_blank") start.html
